<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.quarzion.offsite-backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/xunterhu/Library/Application Support/Quarzion/bin/pull-offsite-backups-macos.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>4</integer>
    <key>Minute</key>
    <integer>20</integer>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/xunterhu/Library/Application Support/Quarzion/logs/offsite-backup.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/xunterhu/Library/Application Support/Quarzion/logs/offsite-backup-error.log</string>
</dict>
</plist>
