[Unit]
Description=Run WindCall monitoring scheduler every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
RandomizedDelaySec=20
Unit=quarzion-scheduler.service

[Install]
WantedBy=timers.target
