[Unit]
Description=Run Quarzion email delivery every minute

[Timer]
OnBootSec=90s
OnUnitActiveSec=60s
AccuracySec=10s
Persistent=true
Unit=quarzion-email-delivery.service

[Install]
WantedBy=timers.target
